{% load static %}
<!doctype html>
<html>
  <head>
    <title>Farfor Decor</title>
    <meta charset="UTF-8">
    <meta name="description" content="Your site's description should be here">
    <meta name="keywords" content="Your site's keywords should be here">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <!--[if IE 6]>
	<style type="text/css">
		* html .group {
			height: 1%;
		}
	</style>
  <![endif]--> 
    <!--[if IE 7]>
	<style type="text/css">
		*:first-child+html .group {
			min-height: 1px;
		}
	</style>
  <![endif]--> 
    <!--[if lt IE 9]> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script> 
  <![endif]--> 
  </head>
  <body>
      <header>
          <div class="header">

          <a href="{% url 'home' %}">
            <img class="farfor-logo" src="{% static 'images/farfor_main_page.png' %}" alt="">
                 </a>
          <a href="{% url 'gallery' %}">
            <img class="gallery" src="{% static 'images/gallery.png' %}" alt="">
                 </a>
          <a href="{% url 'contact' %}">
             <img class="contacts" src="{% static 'images/contacts.png' %}" alt="">
                 </a>
	      <a href="{% url 'rules' %}">
             <img class="rent-rules" src="{% static 'images/rent_rules.png' %}" alt="">
		      	 </a>
		  <a href="{% url 'favorites' %}">
             <img class="favorites" src="{% static 'images/favorites.png' %}" alt="" >
		         </a>
		  <a href="{% url 'search' %}">
             <img class="search" src="{% static 'images/search.png' %}" alt="" >
			     </a>
		  <a href="{% url 'cart' %}">
             <img class="cart"src="{% static 'images/cart.png' %}" alt="" >
			     </a> 
          <a href="{% url 'register' %}">
            <img class="account" src="{% static 'images/account.png' %}" alt="">
              </a>
            <img class="phone" src="{% static 'images/phone.png' %}" alt="">
            </div>
        
      <img class="background-icon-menu"src="{% static 'images/sub_menu.png' %}" alt="">
      <img class="line-header" src="{% static 'images/line_header.png' %}" alt="" >
      <img class="line-header-copy" src="{% static 'images/line_header_copy.png' %}" alt="" >
    </div>
  </header>

  <main>
    <!-- Вміст головної сторінки -->
  </main>

  <footer>
    <!-- Інформація футера -->
  </footer> 
  
  </body>
</html>