{% load static %}
<!doctype html>
<html>
  <head>
    <title>Farfor Decor</title>
    <meta charset="UTF-8">
    <meta name="description" content="Your site's description should be here">
    <meta name="keywords" content="Your site's keywords should be here">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <!--[if IE 6]>
	<style type="text/css">
		* html .group {
			height: 1%;
		}
	</style>
  <![endif]--> 
    <!--[if IE 7]>
	<style type="text/css">
		*:first-child+html .group {
			min-height: 1px;
		}
	</style>
  <![endif]--> 
    <!--[if lt IE 9]> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script> 
  <![endif]--> 
  </head>
  <body>
      <header>
        <div class="global_container_">
          <a href="{% url 'home' %}">
            <img class="farfor_main_page" src="{% static 'images/farfor_main_page.png' %}" alt="" width="308" height="109">
             </a>
          <a href="{% url 'gallery' %}">
            <img class="gallery" src="{% static 'images/gallery.png' %}" alt="" width="201" height="66">
             </a>
          <a href="{% url 'contact' %}">
            <img class="contacts" src="{% static 'images/contacts.png' %}" alt="" width="194" height="64">
             </a>
	        <a href="{% url 'rules' %}">
            <img class="rent-rules" src="{% static 'images/rent_rules.png' %}" alt="" width="183" height="69">
		      	 </a>
        <div class="row group">
		      <a href="{% url 'favorites' %}">
            <img class="favorites" src="{% static 'images/favorites.png' %}" alt="" width="28" height="27">
		         </a>
		      <a href="{% url 'search' %}">
            <img class="search" src="{% static 'images/search.png' %}" alt="" width="32" height="35">
			       </a>
		      <a href="{% url 'cart' %}">
            <img src="{% static 'images/cart.png' %}" alt="" width="33" height="37">
			       </a> 
         </div>
         <a href="{% url 'register' %}" class="register-button">
            <img src="{% static 'images/account.png' %}" alt="" width="65" height="90">
              </a>
      <img class="phone-button" src="{% static 'images/phone.png' %}" alt="" width="65" height="90">
      <img class="line-header" src="{% static 'images/line_header.png' %}" alt="" width="865" height="4">
      <img class="line-header-copy" src="{% static 'images/line_header_copy.png' %}" alt="" width="808" height="4">
    </div>
  </header>

  <main>
  
  </main>

  <footer>
    <!-- Інформація футера -->
  </footer> 
  
  </body>
</html>