{% load static %}
<!doctype html>
<html>
  <head>
    <title>Farfor Decor</title>
    <meta charset="UTF-8">
    <meta name="description" content="Your site's description should be here">
    <meta name="keywords" content="Your site's keywords should be here">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <!--[if IE 6]>
	<style type="text/css">
		* html .group {
			height: 1%;
		}
	</style>
  <![endif]--> 
    <!--[if IE 7]>
	<style type="text/css">
		*:first-child+html .group {
			min-height: 1px;
		}
	</style>
  <![endif]--> 
    <!--[if lt IE 9]> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script> 
  <![endif]--> 
  </head>
  <body>
      <header>
          <div class="main-container">
            <img class="background" src="{% static 'images/background.png' %}"/>
          <a href="{% url 'home' %}"><img class="farfor-logo" src="{% static 'images/farfor_logo.png' %}" alt=""></a></div>
          <a href="{% url 'gallery' %}"><div class="gallery-container" src="{% static 'images/main-container.png' %}" alt=""></a></div>
              <div class="gallery">Галерея</div>
          <a href="{% url 'contact' %}"><div class="contacts-container" src="{% static 'images/main-container.png' %}" alt=""></a></div>
              <div class="contacts">Контакти</div>
                <img class="phone" src="{% static 'images/phone_icon.png' %}" alt="">
          <a href="{% url 'rules' %}"><div class="rent-rules-container" src="{% static 'images/main-container.png' %}" alt=""></a></div>
              <div class="rent-rules">Умови оренди</div>
		      <a href="{% url 'favorites' %}"><div class="favorites-container" src="{% static 'images/main-container.png' %}" alt=""></a></div>
              <div class="favorites">Збережене</div>
		      <a href="{% url 'search' %}"><div class="search-container" src="{% static 'images/main-container.png' %}" alt=""></a></div>
              <div class="search">Пошук</div>
		      <a href="{% url 'cart' %}"><div class="cart-container"src="{% static 'images/main-container.png' %}" alt=""></a> </div>
              <div class="cart">Кошик</div>
                <img class="cart-icon" src="{% static 'images/cart-icon.png' %}" />
          <a href="{% url 'register' %}"><div class="account-container" src="{% static 'images/main-container.png' %}" alt=""></a></div>
              <div class="account">Акаунт споживача</div>

          <div class="news-container" src="{% static 'images/main-container.png' %}"></div>
              <div class="news">Новини</div>

          <div class="about-us-container" src="{% static 'images/main-container.png' %}"></div>
              <div class="about-us">Про нас</div>

          <div class="social-container" src="{% static 'images/main-container.png' %}"></div>
              <div class="socials">Соціальні мережі</div>
              
        

      
    </div>
  </header>

  <main>
    <!-- Вміст головної сторінки -->
  </main>

  <footer>
    <!-- Інформація футера -->
  </footer> 
  
  </body>
</html>