{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Картка товару - {{ product.name }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Ваші мета-теги та інші налаштування -->
</head>
<body>
    <header>
        <img class="background" src="{% static 'images/background.jpg' %}" alt="Фон">
        <div class="product-container">
            <div class="product-image">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
        </div>
            <div class="product-details">
                <p class="product-article-number">Артикул: {{ product.article_number }}</p>
                <p class="product-size">Розмір: {{ product.size }}</p>
                <p class="product-weight">Вага: {{ product.weight }} кг</p>
                <p class="product-availability">Наявність: {{ product.availability }}</p>
                <p class="product-damages">Збитки: {{ product.damages }}</p>
            </div>
            <div class="quantity-and-order">
                <div class="product-prise-container">
                    <p class="product-prise">₴ {{ product.prise }}</p>
                </div>
                <div class="quantity">
                    <input type="number" id="quantity-input" name="quantity" min="1" value="1">
                </div>
                <div class="rent-button">
                    <button type="button" onclick="placeOrder()">Орендувати</button>
                </div>
            </div>
            <div class="name-container">
                <h2 class="product-name">{{ product.name }}</h2>
            </div>
            <div class="related-products">
                <h3>Супутні товари</h3>
                <div class="related-products-list">
                    {% for related_product in product.related_products.all %}
                        <div class="related-product">
                            <a href="{% url 'product_detail' related_product.pk %}">
                                <img src="{{ related_product.image.url }}" alt="{{ related_product.name }}" class="related-product-image">
                                <p class="related-product-name">{{ related_product.name }}</p>
                            </a>
                        </div>
                    {% empty %}
                        <p>Немає супутніх товарів.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </header>
</body>
</html>