{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Картка товару - {{ product.name }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Ваші мета-теги та інші налаштування -->
</head>
<body>
    <header>
        <img class="background" src="{% static 'images/background.jpg' %}" alt="Фон">
        <div class="product-container">
            <div class="product-image">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
        </div>
            <div class="product-details">
                <h2 class="product-name">{{ product.name }}</h2>
                <p class="product-prise">₴: {{ product.prise }}</p>
                <p class="product-article-number">Артикул: {{ product.article_number }}</p>
                <p class="product-size">Розмір: {{ product.size }}</p>
                <p class="product-weight">Вага: {{ product.weight }} кг</p>
                <p class="product-availability">Наявність: {{ product.availability }}</p>
                <p class="product-damages">Збитки: {{ product.damages }}</p>
            </div>
            <div class="quantity-and-order">
                <div class="quantity">
                    <input type="number" id="quantity-input" name="quantity" min="1" value="1">
                </div>
                <div class="rent-button">
                    <button type="button" onclick="placeOrder()">Замовити</button>
                </div>
            </div>
        </div>
    </div>
    </header>
</body>
</html>