@charset "UTF-8";
@font-face {
  font-family: 'FarforCustomFont';
  src: url('../fonts/FARFOR_Script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  color: #010000;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
  background-color: #E1E1E1;
  background-repeat: no-repeat;
  background-size: cover; /* Розтягнути фон на всю сторінку */
}

.global_container_ {
  left: 1.5%;
  float: none;
  height: 233px;
  margin: 0 auto;
  min-height: 233px;
  position: relative;
  width: 100%; /* 1080px / 1080px = 100% */
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.farfor_main_page {
  left: 0;
  max-width: 308px;
  position: absolute;
  top: 29px;
  width: 28.518518%; /* 308px / 1080px = 28.518518% */
}
.gallery {
  left: 42%;
  max-width: 201px;
  position: absolute;
  top: 42px;
  width: 18.61111%; /* 201px / 1080px = 18.61111% */
}
.contacts {
  left: 57%;
  max-width: 194px;
  position: absolute;
  top: 41px;
  width: 17.962963%; /* 194px / 1080px = 17.962963% */
}
.rent-rules {
  left: 70%;
  max-width: 183px;
  position: absolute;
  top: 44px;
  width: 16.944445%; /* 183px / 1080px = 16.944445% */
}
.row {
  left: 80%;
  min-height: 229px;
  padding: 58px 2.037037% 128px 7.592593%; /* 22px / 1080px = 2.037037%, 82px / 1080px = 7.592593% */
  position: absolute;
  top: 0;
  width: 20%; /* 216px / 1080px = 20% */
  background: url(.../images/sub_menu.png) no-repeat center 0;
}
.row > * {
  float: left;
  margin: 0 8.303572% 0 0; /* 9.3px / 112px = 8.303572% */
}
.row > *:last-child {
  margin-right: 0 !important;
}
.favorites {
  width: 28px;
  margin-top: 9px !important;
}
.search {
  width: 32px;
  margin-top: 8px !important;
}
.cart {
  width: 33px;
}
.line-header {
  left: 0;
  max-width: 865px;
  position: absolute;
  top: 20px;
  width: 80.09259%; /* 865px / 1080px = 80.09259% */
}
.line-header-copy {
  left: 0;
  max-width: 808px;
  position: absolute;
  top: 133px;
  width: 74.81481%; /* 808px / 1080px = 74.81481% */
}