@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  min-width: 1878px;
  color: #a0a0a0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.875rem; /* 14px / 16px = 0.875rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.01em;
  text-decoration: none;
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  width: 100%; /* 1920px / 1920px = 100% */
  background: #ffffff center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  font-family: 'FarforCustomFont', sans-serif;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* або інший колір фону */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navigation-menu .logo {
  flex-grow: 1;
  text-align: center;
}

.menu-item {
  text-decoration: none;
  color: #000;
  margin: 0 15px;
}

.menu-item:hover {
  color: #555;
}

.section-slider {
  margin: 14px 0 0;
  min-height: 589px;
  padding: 166px 0 28px;
  position: relative;
  background: #f6f6f6;
}
.slogan {
  display: table;
  margin: 0 auto;
  position: relative;
}
.text-3 {
  color: #818182;
  font-size: 0.877298rem; /* 14.04px / 16px = 0.8775rem */
  font-weight: 600;
  letter-spacing: 0.3em;
  text-align: center;
}
.lighting {
  margin: 15px 0 0;
  position: relative;
  color: #3b3b3b;
  font-family: Montserrat, sans-serif;
  font-size: 4.076266rem; /* 65.22px / 16px = 4.07625rem */
  font-weight: bold;
  letter-spacing: -0.02em;
  text-align: center;
}
.text-4 {
  margin: -8px 0 0;
  position: relative;
  color: #7a7a7a;
  font-family: Montserrat, sans-serif;
  font-size: 3.242388rem; /* 51.88px / 16px = 3.2425rem */
  font-weight: bold;
  letter-spacing: -0.02em;
  text-align: center;
}
.text-5 {
  margin: 19px auto 0;
  width: 320px;
  color: #818182;
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 21.05515px;
  text-align: center;
}
.row-4 {
  display: table;
  margin: 80px auto 0;
  position: relative;
}
.row-4 > * {
  float: left;
  margin: 0 5px 0 0;
}
.row-4 > *:last-child {
  margin-right: 0 !important;
}
.rectangle-83-copy-2 {
  height: 1px;
  width: 30px;
  background: #818182;
  margin-top: 8px !important;
}
.text-6 {
  color: #818182;
  font-family: Montserrat, sans-serif;
  font-size: 0.997381rem; /* 15.96px / 16px = 0.9975rem */
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}
.rectangle-83-copy-3 {
  height: 1px;
  width: 30px;
  background: #818182;
  margin-top: 8px !important;
}
.pagination {
  margin: 77px auto 0;
  position: relative;
  text-align: center;
}
.pagination > * {
  margin: 0 2px 0 0;
}
.pagination > *:last-child {
  margin-right: 0 !important;
}
.ellipse-8-copy-5 {
  height: 17px;
  width: 17px;
  border: 2px solid #d2d2d2; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ellipse-8-copy-4 {
  height: 17px;
  width: 17px;
  border: 2px solid #d2d2d2; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ellipse-8-copy-3 {
  height: 17px;
  width: 17px;
  border: 2px solid #aeaeae; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.pagination > * {
  display: inline-block;
  vertical-align: top;
}
.main-content-wrapper {
  margin: 21px auto 0;
  position: relative;
}
.l-unconstrained {
  position: relative;
}
.l-constrained {
  margin: 0 auto;
  position: relative;
  width: 1878px;
}
.banners-4 {
  margin: 0 auto;
  position: relative;
  width: 1200px;
}
.banners-4 > * {
  float: left;
  margin: 0 22.3px 0 0;
}
.banners-4 > *:last-child {
  margin-right: 0 !important;
}
.box-1 {
  height: 477px;
  padding: 42px 39px;
  position: relative;
  width: 385px;
  background: url(../images/bg_15.jpg) no-repeat;
}
.text-7 {
  margin: 0 0 0 4px;
  color: #6a6a6a;
  font-size: 1.502084rem; /* 24.03px / 16px = 1.501875rem */
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 27.98757px;
}
.row-3 {
  margin: 1px 0 0 2px;
  position: relative;
  width: 305px;
}
.btn-shop {
  float: left;
  margin: 40px 0 0;
  position: relative;
  width: 117px;
}
.text-8 {
  float: left;
  margin: 4px 0 0;
  width: 90px;
  color: #878787;
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.02em;
}
.ellipse-7-copy-3-holder {
  float: right;
  padding: 7px 0 6px;
  position: relative;
  width: 24px;
  border: 1px solid #878787; /*stroke*/
  -webkit-border-radius: 11.98px/12px;
  -moz-border-radius: 11.98px/12px;
  border-radius: 11.98px/12px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.text-9 {
  display: block;
  margin: 0 auto;
}
.off {
  float: right;
  min-height: 129px;
  width: 129px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #eed24c;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 2.265999rem; /* 36.26px / 16px = 2.26625rem */
  font-weight: bold;
  letter-spacing: -0.08em;
  line-height: 129px;
  text-align: center;
}
.col-9 {
  position: relative;
  width: 385px;
}
.box-2 {
  height: 223px;
  padding: 36px 34px 83px;
  position: relative;
  background: url(../images/bg_14.jpg) no-repeat;
}
.text-11 {
  color: #6a6a6a;
  font-size: 1.502084rem; /* 24.03px / 16px = 1.501875rem */
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 27.98757px;
}
.text-12 {
  margin: 32px 0 0;
  color: #9f9f9f;
  font-family: Montserrat, sans-serif;
  font-size: 1.1098rem; /* 17.76px / 16px = 1.11rem */
  letter-spacing: -0.08em;
}
.box-4 {
  height: 230px;
  margin: 24px 0 0;
  padding: 31px 22px 37px;
  position: relative;
  background: url(../images/bg_12.jpg) no-repeat;
}
.text-13 {
  color: #6a6a6a;
  font-size: 1.502084rem; /* 24.03px / 16px = 1.501875rem */
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 27.98757px;
  text-align: right;
}
.text-14 {
  margin: 90px 4px 0;
  color: #878787;
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.02em;
  text-align: right;
}
.box-3 {
  height: 477px;
  padding: 36px 35px;
  position: relative;
  width: 385px;
  background: url(../images/bg_13.jpg) no-repeat;
}
.text-15 {
  margin: 0 0 0 2px;
  color: #6a6a6a;
  font-size: 1.502084rem; /* 24.03px / 16px = 1.501875rem */
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 27.98757px;
  text-transform: uppercase;
}
.text-16 {
  margin: 17px 0 0;
  color: #9f9f9f;
  font-family: Montserrat, sans-serif;
  font-size: 1.1098rem; /* 17.76px / 16px = 1.11rem */
  letter-spacing: -0.08em;
}
.btn-shop-2 {
  margin: 26px 0 0;
  position: relative;
}
.text-17 {
  float: left;
  margin: 4px 3px 0 0;
  width: 90px;
  color: #878787;
  font-family: Montserrat, sans-serif;
  letter-spacing: -0.02em;
}
.ellipse-7-copy-3-holder-2 {
  float: left;
  padding: 7px 0 6px;
  position: relative;
  width: 24px;
  border: 1px solid #878787; /*stroke*/
  -webkit-border-radius: 11.98px/12px;
  -moz-border-radius: 11.98px/12px;
  border-radius: 11.98px/12px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.text-18 {
  display: block;
  margin: 0 auto;
}
.products-5 {
  display: table;
  margin: 57px auto 0;
  position: relative;
}
.row-2 {
  position: relative;
  width: 1200px;
}
.title {
  float: left;
  margin: 6px 0 0;
  position: relative;
  width: 407px;
}
.featured {
  float: left;
  margin: 2px 0 0;
  color: #3a3a3a;
  font-family: Montserrat, sans-serif;
  font-size: 1.124532rem; /* 17.99px / 16px = 1.124375rem */
  font-weight: bold;
}
.line {
  float: left;
  height: 21px;
  margin: 0 0 0 22px;
  width: 1px;
  background: #cccccc;
}
.latest {
  float: left;
  margin: 3px 0 0 30px;
  color: #838182;
  font-family: Montserrat, sans-serif;
  font-size: 1.124532rem; /* 17.99px / 16px = 1.124375rem */
  font-weight: bold;
}
.line-2 {
  float: left;
  height: 21px;
  margin: 0 0 0 24px;
  width: 1px;
  background: #cccccc;
}
.text-19 {
  float: left;
  margin: 3px 0 0 21px;
  color: #838182;
  font-family: Montserrat, sans-serif;
  font-size: 1.124532rem; /* 17.99px / 16px = 1.124375rem */
  font-weight: bold;
}
.arrows {
  float: right;
  min-height: 37px;
  padding: 4px 5px 4px 6px;
  position: relative;
  width: 71px;
  -webkit-border-radius: 18.48px;
  -moz-border-radius: 18.48px;
  border-radius: 18.48px;
  background: #eeeeee;
}
.ellipse-6-copy-holder {
  float: left;
  padding: 10px 0 8px;
  position: relative;
  width: 29px;
  -webkit-border-radius: 50%/14.48px;
  -moz-border-radius: 50%/14.48px;
  border-radius: 50%/14.48px;
  background: #ffffff;
}
.text-20 {
  display: block;
  margin: 0 auto;
}
.ellipse-6-holder {
  float: right;
  padding: 10px 0 8px;
  position: relative;
  width: 29px;
  -webkit-border-radius: 50%/14.48px;
  -moz-border-radius: 50%/14.48px;
  border-radius: 50%/14.48px;
  background: #ffffff;
}
.text-21 {
  display: block;
  margin: 0 auto;
}
.row-6 {
  margin: 16px 0 0;
  position: relative;
  width: 1199px;
}
.pro-1 {
  float: left;
  position: relative;
  width: 213px;
}
.col-2 {
  height: 215px;
  padding: 22px 0 1px;
  position: relative;
  background: url(../images/bg_2.jpg) no-repeat;
}
.new-icon {
  min-height: 24px;
  padding: 0 0 0 3px;
  position: relative;
  width: 47px;
  background: #000000;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 0.828456rem; /* 13.26px / 16px = 0.82875rem */
  letter-spacing: -0.04em;
  line-height: 24px;
  text-align: center;
}
.stars {
  margin: 157px 77px 0;
  position: relative;
}
.stars > * {
  float: left;
  margin: 0 1px 0 0;
}
.stars > *:last-child {
  margin-right: 0 !important;
}
.text-26 {
  margin: 16px 0 0;
  color: #757575;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}
.text-27 {
  display: block;
  margin: 11px auto 0;
  position: relative;
  right: 11.5px;
}
.pro-2 {
  float: left;
  margin: 0 0 0 32px;
  position: relative;
  width: 213px;
}
.bg {
  display: block;
  width: 213px;
}
.text-28 {
  margin: 16px 0 0;
  color: #747474;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}
.text-29 {
  display: block;
  margin: 10px auto 0;
  position: relative;
  right: 10px;
}
.pro-3 {
  float: left;
  margin: 0 0 0 32px;
  position: relative;
  width: 213px;
}
.bg-2 {
  display: block;
  width: 213px;
}
.text-30 {
  margin: 16px 0 0;
  color: #757575;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}
.text-31 {
  display: block;
  margin: 11px auto 0;
  position: relative;
  right: 8.5px;
}
.pro-4 {
  float: left;
  margin: 0 0 0 31px;
  position: relative;
  width: 213px;
}
.col {
  height: 215px;
  margin: 0 auto;
  padding: 27px 0 1px;
  position: relative;
  background: url(../images/bg_2.jpg) no-repeat;
}
.off-icon {
  min-height: 24px;
  padding: 0 2px;
  position: relative;
  width: 62px;
  background: #b2cc29;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 0.827711rem; /* 13.24px / 16px = 0.8275rem */
  font-weight: bold;
  letter-spacing: -0.04em;
  line-height: 24px;
  text-align: center;
}
.new-icon-2 {
  margin: 1px 0 0;
  min-height: 24px;
  position: relative;
  width: 48px;
  background: #000000;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 0.827711rem; /* 13.24px / 16px = 0.8275rem */
  font-weight: bold;
  letter-spacing: -0.04em;
  line-height: 24px;
  text-align: center;
}
.stars-2 {
  display: table;
  margin: 127px auto 0;
  position: relative;
}
.stars-2 > * {
  float: left;
  margin: 0 1px 0 0;
}
.stars-2 > *:last-child {
  margin-right: 0 !important;
}
.text-37 {
  margin: 16px 0 0;
  color: #757575;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}
.text-38 {
  display: block;
  margin: 10px auto 0;
}
.pro-5 {
  float: left;
  margin: 0 0 0 39px;
  position: relative;
  width: 213px;
}
.bg-3 {
  display: block;
  width: 213px;
}
.text-39 {
  margin: 16px 0 0;
  color: #757575;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}
.text-40 {
  display: block;
  margin: 10px auto 0;
  position: relative;
  right: 9px;
}
.row-20 {
  margin: 40px 0 0;
  position: relative;
  width: 1199px;
}
.pro-6 {
  float: left;
  position: relative;
  width: 213px;
}
.bg-4 {
  display: block;
  position: relative;
  width: 213px;
}
.stars-3 {
  margin: -8px 75px 0;
  position: relative;
}
.stars-3 > * {
  float: left;
  margin: 0 1px 0 0;
}
.stars-3 > *:last-child {
  margin-right: 0 !important;
}
.text-45 {
  margin: 13px 0 0;
  color: #757575;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}
.text-46 {
  display: block;
  margin: 11px auto 0;
  position: relative;
  right: 11.5px;
}
.wrapper-17 {
  float: left;
  height: 270px;
  margin: 0 0 0 32px;
  position: relative;
  width: 458px;
}
.pro-8 {
  left: 50%;
  position: absolute;
  top: 0;
  width: 213px;
  margin-left: 16px;
}
.bg-5 {
  display: block;
  width: 213px;
}
.text-47 {
  margin: 16px 0 0;
  color: #757575;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}
.text-48 {
  display: block;
  margin: 10px auto 0;
  position: relative;
  right: 8.5px;
}
.pro-7 {
  left: 50%;
  position: absolute;
  top: 0;
  width: 372px;
  margin-left: -229px;
}
.bg-holder {
  height: 215px;
  overflow: hidden;
  padding: 27px 0 164px;
  position: relative;
  width: 213px;
  background: url(../images/bg_2.jpg) no-repeat;
}
.off-icon-2 {
  margin: 0 auto;
  min-height: 24px;
  position: relative;
  right: 75.5px;
  width: 62px;
  background: #b2cc29;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 0.834631rem; /* 13.35px / 16px = 0.834375rem */
  font-weight: bold;
  letter-spacing: -0.04em;
  line-height: 24px;
  text-align: center;
}
.stars-4 {
  margin: -8px 0 0 325px;
  position: relative;
}
.stars-4 > * {
  float: left;
  margin: 0 1px 0 0;
}
.stars-4 > *:last-child {
  margin-right: 0 !important;
}
.text-54 {
  margin: 12px 0 0 44px;
  color: #747474;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
}
.text-55 {
  display: block;
  margin: 11px 0 0 64px;
  position: relative;
}
.pro-9 {
  float: left;
  margin: 0 0 0 31px;
  position: relative;
  width: 213px;
}
.bg-6 {
  display: block;
  margin: 0 auto;
  width: 213px;
}
.text-56 {
  margin: 15px 0 0;
  color: #757575;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}
.text-57 {
  display: block;
  margin: 11px auto 0;
}
.pro-10 {
  float: left;
  margin: 0 0 0 39px;
  position: relative;
  width: 213px;
}
.bg-7 {
  display: block;
  width: 213px;
}
.text-58 {
  margin: 15px 0 0;
  color: #757575;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}
.text-59 {
  display: block;
  margin: 11px auto 0;
  position: relative;
  right: 9px;
}
.products-4 {
  margin: 64px auto 0;
  padding: 72px 0 73px;
  position: relative;
  background: #f8f8f8;
}
.l-constrained-2 {
  margin: 0 auto;
  padding: 0 241px;
  position: relative;
  width: 1878px;
}
.title-2 {
  display: table;
  margin: 0 auto;
  position: relative;
}
.text-60 {
  color: #3a3a3a;
  font-family: Montserrat, sans-serif;
  font-size: 1.608366rem; /* 25.73px / 16px = 1.608125rem */
  font-weight: bold;
  text-align: center;
}
.text-61 {
  margin: 7px 0 0;
  font-size: 0.874183rem; /* 13.99px / 16px = 0.874375rem */
  font-weight: 600;
  letter-spacing: 0.3em;
  text-align: center;
}
.row-22 {
  margin: 13px auto 0;
  position: relative;
  width: 1385px;
}
.left-2 {
  float: left;
  margin: 141px 0 0;
  padding: 13px 0;
  position: relative;
  width: 45px;
  border: 2px solid #878787; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.text-62 {
  display: block;
  margin: 0 auto;
}
.product-1 {
  float: left;
  margin: 0 0 0 53px;
  min-height: 374px;
  padding: 1px 0 24px;
  position: relative;
  width: 276px;
  background: #f8f8f8;
}
.rectangle-89-holder {
  height: 275px;
  padding: 36px 0 208px;
  background: url(../images/rectangle_89.jpg) no-repeat;
}
.off-icon-3 {
  margin: 0 auto;
  min-height: 31px;
  position: relative;
  right: 87.5px;
  width: 100px;
  background: #fed062;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 1.055403rem; /* 16.89px / 16px = 1.055625rem */
  font-weight: bold;
  letter-spacing: -0.04em;
  line-height: 31px;
  text-align: center;
}
.text-64 {
  margin: 22px 77px 0;
  color: #747474;
  font-size: 1.123949rem; /* 17.98px / 16px = 1.12375rem */
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
}
.text-65 {
  display: block;
  margin: 14px auto 0;
  position: relative;
  right: 10.5px;
}
.product-2 {
  float: left;
  height: 374px;
  margin: 0 0 0 32px;
  padding: 298px 18px 24px;
  position: relative;
  width: 276px;
  background: url(../images/rectangle_56_copy.png) no-repeat;
}
.text-66 {
  color: #757575;
  font-size: 1.123949rem; /* 17.98px / 16px = 1.12375rem */
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}
.text-67 {
  display: block;
  margin: 14px auto 0;
}
.product-3 {
  float: left;
  height: 374px;
  margin: 0 0 0 32px;
  padding: 37px 1px 24px;
  position: relative;
  width: 276px;
  background: url(../images/rectangle_56_copy.png) no-repeat;
}
.off-icon-4 {
  min-height: 31px;
  padding: 0 5px;
  position: relative;
  width: 80px;
  background: #b2cc29;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 1.06611rem; /* 17.06px / 16px = 1.06625rem */
  font-weight: bold;
  letter-spacing: -0.04em;
  line-height: 31px;
  text-align: center;
}
.text-69 {
  margin: 230px 0 0;
  color: #757575;
  font-size: 1.123949rem; /* 17.98px / 16px = 1.12375rem */
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}
.text-70 {
  display: block;
  margin: 14px auto 0;
  position: relative;
  right: 3px;
}
.product-4 {
  float: left;
  margin: 0 0 0 32px;
  position: relative;
  width: 276px;
}
.product {
  height: 374px;
  padding: 298px 0 24px;
  position: relative;
  background: url(../images/rectangle_56_copy.png) no-repeat;
}
.text-71 {
  color: #747474;
  font-size: 1.123949rem; /* 17.98px / 16px = 1.12375rem */
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}
.text-72 {
  display: block;
  margin: 14px auto 0;
}
.right-2 {
  float: left;
  margin: 141px 0 0 42px;
  padding: 13px 0;
  position: relative;
  width: 45px;
  border: 2px solid #878787; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.text-73 {
  display: block;
  margin: 0 auto;
}
.bottom-widget {
  margin: 72px auto 0;
  padding: 0 338px;
  position: relative;
  width: 1878px;
}
.bottom-widget > * {
  float: left;
  margin: 0 49.13px 0 0;
}
.bottom-widget > *:last-child {
  margin-right: 0 !important;
}
.widget-1 {
  position: relative;
  width: 255px;
}
.text-74 {
  color: #3a3a3a;
  font-family: Montserrat, sans-serif;
  font-size: 1.249666rem; /* 19.99px / 16px = 1.249375rem */
  font-weight: bold;
  letter-spacing: 0;
}
.product-1-2 {
  margin: 23px 0 0;
  position: relative;
}
.bg-8 {
  float: left;
  margin: 0 4px 0 0;
  width: 79px;
}
.col-8 {
  float: left;
  margin: 13px 0 0;
  position: relative;
  width: 164px;
}
.text-75 {
  margin: 0 0 0 6px;
  color: #959596;
  font-family: Montserrat, sans-serif;
  font-size: 0.874766rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
}
.stars-5 {
  margin: 6px 0 0;
  position: relative;
}
.stars-5 > * {
  float: left;
  margin: 0 1px 0 0;
}
.stars-5 > *:last-child {
  margin-right: 0 !important;
}
.offf-price {
  margin: 4px 0 0;
  position: relative;
}
.wrapper-14 {
  float: left;
  height: 13px;
  margin: 3px 9px 0 0;
  position: relative;
  width: 61px;
}
.price {
  left: 50%;
  position: absolute;
  top: 0;
  width: 61px;
  margin-left: -30.5px;
}
.text-80 {
  opacity: 0.6;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 0.874766rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
  text-align: center;
}
.rectangle-59 {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 6px;
  width: 55px;
  background: #959596;
  margin-left: -27.5px;
}
.text-81 {
  float: left;
  width: 73px;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 1.1247rem; /* 18px / 16px = 1.125rem */
  letter-spacing: 0.04em;
}
.product-2-2 {
  margin: 22px 0 0;
  position: relative;
}
.rectangle-58 {
  float: left;
  margin: 0 9px 0 0;
  width: 79px;
}
.col-7 {
  float: left;
  margin: 13px 0 0;
  position: relative;
  width: 167px;
}
.text-82 {
  color: #959596;
  font-family: Montserrat, sans-serif;
  font-size: 0.874766rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
}
.text-83 {
  margin: 21px 0 0;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 1.1247rem; /* 18px / 16px = 1.125rem */
  letter-spacing: 0.04em;
}
.product-3-2 {
  margin: 21px 0 0;
  position: relative;
}
.rectangle-58-2 {
  float: left;
  margin: 0 7px 0 0;
  width: 79px;
}
.col-21 {
  float: left;
  margin: 13px 0 0;
  position: relative;
  width: 140px;
}
.text-84 {
  color: #959596;
  font-family: Montserrat, sans-serif;
  font-size: 0.874766rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
}
.row-21 {
  margin: 6px 0 0;
  position: relative;
}
.col-22 {
  float: left;
  margin: 0 5px 0 0;
  position: relative;
  width: 62px;
}
.stars-6 {
  display: table;
  margin: 0 auto;
  position: relative;
}
.stars-6 > * {
  float: left;
  margin: 0 1px 0 0;
}
.stars-6 > *:last-child {
  margin-right: 0 !important;
}
.wrapper-19 {
  height: 13px;
  margin: 8px 0 0;
  position: relative;
  width: 62px;
}
.text-89 {
  left: 50%;
  position: absolute;
  top: 0;
  opacity: 0.6;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 0.874766rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
  line-height: 13px;
  margin-left: -30px;
}
.rectangle-59-2 {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 6px;
  width: 55px;
  background: #959596;
  margin-left: -31px;
}
.text-90 {
  float: left;
  margin: 16px 0 0;
  width: 73px;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 1.1247rem; /* 18px / 16px = 1.125rem */
  letter-spacing: 0.04em;
}
.widget-2 {
  position: relative;
  width: 256px;
}
.text-91 {
  color: #3a3a3a;
  font-family: Montserrat, sans-serif;
  font-size: 1.249667rem; /* 19.99px / 16px = 1.249375rem */
  font-weight: bold;
  letter-spacing: 0;
}
.product-1-3 {
  margin: 23px 0 0;
  position: relative;
}
.rectangle-58-3 {
  float: left;
  margin: 0 8px 0 0;
  width: 79px;
}
.col-20 {
  float: left;
  margin: 13px 0 0;
  position: relative;
  width: 140px;
}
.text-92 {
  color: #959596;
  font-family: Montserrat, sans-serif;
  font-size: 0.874767rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
}
.row-18 {
  margin: 22px 0 0;
  position: relative;
}
.off-price {
  float: left;
  height: 13px;
  margin: 3px 5px 0 0;
  position: relative;
  width: 61px;
}
.text-93 {
  left: 50%;
  position: absolute;
  top: 0;
  opacity: 0.6;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 0.874619rem; /* 13.99px / 16px = 0.874375rem */
  letter-spacing: 0.04em;
  line-height: 13px;
  margin-left: -30.5px;
}
.rectangle-59-3 {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 6px;
  width: 55px;
  background: #959596;
  margin-left: -30.5px;
}
.text-94 {
  float: left;
  width: 74px;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 1.124511rem; /* 17.99px / 16px = 1.124375rem */
  letter-spacing: 0.04em;
}
.product-2-3 {
  margin: 22px 0 0;
  position: relative;
}
.rectangle-58-4 {
  float: left;
  margin: 0 9px 0 0;
  width: 79px;
}
.col-6 {
  float: left;
  margin: 13px 0 0;
  position: relative;
  width: 168px;
}
.text-95 {
  color: #959596;
  font-family: Montserrat, sans-serif;
  font-size: 0.874767rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
}
.text-96 {
  margin: 21px 0 0;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 1.124511rem; /* 17.99px / 16px = 1.124375rem */
  letter-spacing: 0.04em;
}
.product-3-3 {
  margin: 21px 0 0;
  position: relative;
}
.rectangle-58-5 {
  float: left;
  margin: 0 8px 0 0;
  width: 79px;
}
.col-19 {
  float: left;
  margin: 13px 0 0;
  position: relative;
  width: 140px;
}
.text-97 {
  color: #959596;
  font-family: Montserrat, sans-serif;
  font-size: 0.874767rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
}
.row-17 {
  margin: 22px 0 0;
  position: relative;
}
.off-price-2 {
  float: left;
  height: 13px;
  margin: 3px 5px 0 0;
  position: relative;
  width: 61px;
}
.text-98 {
  left: 50%;
  position: absolute;
  top: 0;
  opacity: 0.6;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 0.874619rem; /* 13.99px / 16px = 0.874375rem */
  letter-spacing: 0.04em;
  line-height: 13px;
  margin-left: -30.5px;
}
.rectangle-59-4 {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 6px;
  width: 55px;
  background: #959596;
  margin-left: -30.5px;
}
.text-99 {
  float: left;
  width: 74px;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 1.124511rem; /* 17.99px / 16px = 1.124375rem */
  letter-spacing: 0.04em;
}
.widget-3 {
  position: relative;
  width: 256px;
}
.text-100 {
  color: #3a3a3a;
  font-family: Montserrat, sans-serif;
  font-size: 1.249667rem; /* 19.99px / 16px = 1.249375rem */
  font-weight: bold;
  letter-spacing: 0;
}
.product-1-4 {
  margin: 23px 0 0;
  position: relative;
}
.rectangle-58-6 {
  float: left;
  margin: 0 7px 0 0;
  width: 79px;
}
.col-18 {
  float: left;
  margin: 12px 0 0;
  position: relative;
  width: 157px;
}
.text-101 {
  margin: 0 0 0 2px;
  color: #959596;
  font-family: Montserrat, sans-serif;
  font-size: 0.874767rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
  line-height: 15.99304px;
}
.row-16 {
  margin: 5px 0 0;
  position: relative;
}
.off-price-3 {
  float: left;
  height: 13px;
  margin: 3px 5px 0 0;
  position: relative;
  width: 62px;
}
.text-102 {
  left: 50%;
  position: absolute;
  top: 0;
  opacity: 0.6;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 0.874619rem; /* 13.99px / 16px = 0.874375rem */
  letter-spacing: 0.04em;
  line-height: 13px;
  margin-left: -30px;
}
.rectangle-59-5 {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 6px;
  width: 55px;
  background: #959596;
  margin-left: -31px;
}
.text-103 {
  float: left;
  width: 73px;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 1.124511rem; /* 17.99px / 16px = 1.124375rem */
  letter-spacing: 0.04em;
}
.product-2-4 {
  margin: 22px 0 0;
  position: relative;
}
.rectangle-58-7 {
  float: left;
  margin: 0 9px 0 0;
  width: 79px;
}
.col-5 {
  float: left;
  margin: 13px 0 0;
  position: relative;
  width: 168px;
}
.text-104 {
  color: #959596;
  font-family: Montserrat, sans-serif;
  font-size: 0.874767rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
}
.stars-7 {
  margin: 3px 0 0;
  position: relative;
}
.stars-7 > * {
  float: left;
  margin: 0 1px 0 0;
}
.stars-7 > *:last-child {
  margin-right: 0 !important;
}
.text-109 {
  margin: 7px 0 0;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 1.124511rem; /* 17.99px / 16px = 1.124375rem */
  letter-spacing: 0.04em;
}
.product-3-4 {
  margin: 21px 0 0;
  position: relative;
}
.rectangle-58-8 {
  float: left;
  margin: 0 7px 0 0;
  width: 79px;
}
.col-17 {
  float: left;
  margin: 13px 0 0;
  position: relative;
  width: 140px;
}
.text-110 {
  color: #959596;
  font-family: Montserrat, sans-serif;
  font-size: 0.874767rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
}
.row-15 {
  margin: 22px 0 0;
  position: relative;
}
.off-price-4 {
  float: left;
  height: 13px;
  margin: 3px 5px 0 0;
  position: relative;
  width: 62px;
}
.text-111 {
  left: 50%;
  position: absolute;
  top: 0;
  opacity: 0.6;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 0.874619rem; /* 13.99px / 16px = 0.874375rem */
  letter-spacing: 0.04em;
  line-height: 13px;
  margin-left: -30px;
}
.rectangle-59-6 {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 6px;
  width: 55px;
  background: #959596;
  margin-left: -31px;
}
.text-112 {
  float: left;
  width: 73px;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 1.124511rem; /* 17.99px / 16px = 1.124375rem */
  letter-spacing: 0.04em;
}
.widget-4 {
  position: relative;
  width: 255px;
}
.text-113 {
  color: #3a3a3a;
  font-family: Montserrat, sans-serif;
  font-size: 1.249667rem; /* 19.99px / 16px = 1.249375rem */
  font-weight: bold;
  letter-spacing: 0;
}
.product-1-5 {
  margin: 23px 0 0;
  position: relative;
}
.rectangle-58-9 {
  float: left;
  margin: 0 7px 0 0;
  width: 79px;
}
.col-16 {
  float: left;
  margin: 13px 0 0;
  position: relative;
  width: 161px;
}
.text-114 {
  margin: 0 0 0 3px;
  color: #959596;
  font-family: Montserrat, sans-serif;
  font-size: 0.874767rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
}
.stars-8 {
  margin: 4px 0 0;
  position: relative;
}
.stars-8 > * {
  float: left;
  margin: 0 1px 0 0;
}
.stars-8 > *:last-child {
  margin-right: 0 !important;
}
.row-14 {
  margin: 6px 0 0;
  position: relative;
}
.off-price-5 {
  float: left;
  height: 13px;
  margin: 3px 5px 0 0;
  position: relative;
  width: 62px;
}
.text-119 {
  left: 50%;
  position: absolute;
  top: 0;
  opacity: 0.6;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 0.874619rem; /* 13.99px / 16px = 0.874375rem */
  letter-spacing: 0.04em;
  line-height: 13px;
  margin-left: -30px;
}
.rectangle-59-7 {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 6px;
  width: 55px;
  background: #959596;
  margin-left: -31px;
}
.text-120 {
  float: left;
  width: 73px;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 1.124511rem; /* 17.99px / 16px = 1.124375rem */
  letter-spacing: 0.04em;
}
.product-2-5 {
  margin: 22px 0 0;
  position: relative;
}
.rectangle-58-10 {
  float: left;
  margin: 0 9px 0 0;
  width: 79px;
}
.col-4 {
  float: left;
  margin: 13px 0 0;
  position: relative;
  width: 167px;
}
.text-121 {
  color: #959596;
  font-family: Montserrat, sans-serif;
  font-size: 0.874767rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
}
.stars-9 {
  margin: 3px 0 0;
  position: relative;
}
.stars-9 > * {
  float: left;
  margin: 0 1px 0 0;
}
.stars-9 > *:last-child {
  margin-right: 0 !important;
}
.text-126 {
  margin: 7px 0 0;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 1.124511rem; /* 17.99px / 16px = 1.124375rem */
  letter-spacing: 0.04em;
}
.product-3-5 {
  margin: 21px 0 0;
  position: relative;
}
.rectangle-58-11 {
  float: left;
  margin: 0 7px 0 0;
  width: 79px;
}
.col-14 {
  float: left;
  margin: 13px 0 0;
  position: relative;
  width: 140px;
}
.text-127 {
  color: #959596;
  font-family: Montserrat, sans-serif;
  font-size: 0.874767rem; /* 14px / 16px = 0.875rem */
  letter-spacing: 0.04em;
}
.stars-10 {
  margin: 3px 0 0;
  position: relative;
}
.stars-10 > * {
  float: left;
  margin: 0 1px 0 0;
}
.stars-10 > *:last-child {
  margin-right: 0 !important;
}
.row-13 {
  margin: 8px 0 0;
  position: relative;
}
.off-price-6 {
  float: left;
  height: 13px;
  margin: 3px 5px 0 0;
  position: relative;
  width: 62px;
}
.text-132 {
  left: 50%;
  position: absolute;
  top: 0;
  opacity: 0.6;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 0.874619rem; /* 13.99px / 16px = 0.874375rem */
  letter-spacing: 0.04em;
  line-height: 13px;
  margin-left: -30px;
}
.rectangle-59-8 {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 6px;
  width: 55px;
  background: #959596;
  margin-left: -31px;
}
.text-133 {
  float: left;
  width: 73px;
  color: #252528;
  font-family: Montserrat, sans-serif;
  font-size: 1.124511rem; /* 17.99px / 16px = 1.124375rem */
  letter-spacing: 0.04em;
}
.footer {
  margin: 85px auto 0;
  position: relative;
  width: 1878px;
}
.footer-2 {
  display: table;
  margin: 0 auto;
  position: relative;
}
.row {
  margin: 0 auto;
  min-height: 360px;
  padding: 75px 198px 89px 206px;
  position: relative;
  width: 1612px;
  background: #f6f6f6;
}
.row > * {
  float: left;
  margin: 0 54px 0 0;
}
.row > *:last-child {
  margin-right: 0 !important;
}
.group-2 {
  position: relative;
  width: 293px;
}
.logo-2 {
  position: relative;
}
.layer-2 {
  float: left;
  margin: 0 3px 0 0;
}
.dot-2 {
  float: left;
  height: 7px;
  margin: 22px 0 0;
  width: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #7f7f7f;
}
.text-134 {
  margin: 24px 0 0 2px;
  width: 291px;
  line-height: 20px;
}
.social-icon {
  display: block;
  margin: 29px 0 0;
  position: relative;
}
.twitter {
  position: relative;
  width: 262px;
}
.wrapper-6 {
  position: relative;
}
.twitter-2 {
  margin: 0 201px 34px 0;
  color: #575757;
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-weight: bold;
}
.text-136 {
  float: left;
  margin: 4px 10px 0 2px;
}
.text-135 {
  line-height: 23px;
}
.row-5 {
  margin: 21px auto 0;
  position: relative;
  width: 260px;
}
.text-137 {
  float: left;
  margin: 9px 10px 0 0;
}
.text-138 {
  float: left;
  width: 233px;
  line-height: 24px;
}
.prodcut-tag {
  position: relative;
  width: 234px;
}
.text-139 {
  color: #575757;
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-weight: bold;
}
.row-8 {
  margin: 36px 0 0;
  position: relative;
}
.rectangle-84-holder {
  float: left;
  min-height: 24px;
  width: 63px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.rectangle-84-copy-holder {
  float: left;
  margin: 0 0 0 4px;
  max-width: 87px;
  min-height: 24px;
  width: 87px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.rectangle-84-copy-2-holder {
  float: left;
  margin: 0 0 0 8px;
  min-height: 24px;
  width: 60px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.row-9 {
  margin: 6px 0 0;
  position: relative;
}
.row-9 > * {
  float: left;
  margin: 0 6.3px 0 0;
}
.row-9 > *:last-child {
  margin-right: 0 !important;
}
.rectangle-84-copy-3-holder {
  min-height: 24px;
  width: 82px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.rectangle-84-copy-5-holder {
  min-height: 24px;
  width: 74px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.rectangle-84-copy-4-holder {
  min-height: 24px;
  width: 65px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.row-10 {
  margin: 6px 0 0;
  position: relative;
}
.row-10 > * {
  float: left;
  margin: 0 6px 0 0;
}
.row-10 > *:last-child {
  margin-right: 0 !important;
}
.rectangle-84-copy-6-holder {
  min-height: 24px;
  width: 55px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.rectangle-84-copy-7-holder {
  min-height: 24px;
  width: 62px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.rectangle-84-copy-8-holder {
  min-height: 24px;
  width: 61px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.row-11 {
  margin: 6px 0 0;
  position: relative;
}
.row-11 > * {
  float: left;
  margin: 0 5.3px 0 0;
}
.row-11 > *:last-child {
  margin-right: 0 !important;
}
.rectangle-84-copy-9-holder {
  min-height: 24px;
  width: 78px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.rectangle-84-copy-10-holder {
  min-height: 24px;
  width: 71px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.rectangle-84-copy-11-holder {
  min-height: 24px;
  width: 62px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.row-12 {
  margin: 5px 0 0;
  position: relative;
}
.rectangle-84-copy-12-holder {
  float: left;
  margin: 0 6px 0 0;
  min-height: 24px;
  width: 88px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.rectangle-84-copy-13-holder {
  float: left;
  min-height: 24px;
  width: 66px;
  border: 1px solid #c1c1c1; /*stroke*/
  -webkit-border-radius: 11.82px;
  -moz-border-radius: 11.82px;
  border-radius: 11.82px;
  background: #f6f6f6;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #a1a1a1;
  line-height: 24px;
  text-align: center;
}
.information {
  position: relative;
  width: 257px;
}
.information-2 {
  color: #575757;
  font-size: 1rem; /* 16px / 16px = 1rem */
  font-weight: bold;
  text-align: right;
}
.row-7 {
  margin: 34px auto 0;
  position: relative;
  width: 248px;
}
.text-140 {
  float: left;
  width: 226px;
  line-height: 18px;
  text-align: right;
}
.col-11 {
  float: right;
  margin: 2px 0 0;
  position: relative;
  width: 14px;
}
.text-141 {
  display: block;
  margin: 0 auto;
}
.text-142 {
  display: block;
  margin: 35px auto 0;
}
.text-143 {
  display: block;
  margin: 9px 0 0;
}
.bottom {
  margin: 30px auto 0;
  position: relative;
  width: 1201px;
}
.payment-methods-logos {
  float: right;
}
.text-144 {
  margin: 10px 0 0;
  color: #868686;
}
.text-style-2 {
  color: #000000;
  font-weight: bold;
}
.fw700 {
  font-weight: bold;
}
.text-style {
  line-height: 18px;
}

@font-face {
  font-family: 'FarforCustomFont';
  src: url('/fonts/FARFOR_Script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}